.about-me-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.pic-of-me {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.92;
  position: absolute;
  height: 100%;
  left: 0;
  pointer-events: none;
}

.about-me-card {
  display: inline;
  position: absolute !important;
  top: 40px;
  right: 3%;
  width: 40%;
  pointer-events: none;
  font-size: 20px;
  opacity: 0.65;
  color: #211b21;
  border-width: 0 !important;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  line-height: 1.43em;
  overflow: scroll;
}

.harryb-link {
  pointer-events: auto;
  color: #a244a2;
}

.harryb-link:hover {
  text-decoration: none;
  color: #6d2a6d;
}

.header {
  font-size: 35px;
  color: #211b21;
  pointer-events: none;
}

.navbar-about-me {
  right: 3%;
  bottom: 20px;
}

.resume {
  display: inline-block;
  margin-top: 25px;
  pointer-events: auto;
  color: #a244a2;
}

.resume:hover {
  text-decoration: none;
  color: #6d2a6d;
}

@media only screen and (max-device-width: 768px) {
  .pic-of-me {
    left: -70px;
    width: 200%;
    height: unset;
    bottom: 0;
  }

  .about-me-card {
    width: 90%;
    height: 45%;
    left: 0;
    right: 0;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: auto;
  }

  .navbar-about-me.navbar {
    font-size: 25px;
  }
  .navbar-about-me.navbar .nav-item a {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px #000;
    opacity: 0.8;
  }
}
