.pic-of-me {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.89;
  position: absolute;
  pointer-events: none;
}

.about-me-card {
  display: inline;
  position: absolute;
  top: 25px;
  left: 55%;
  width: 40%;
  pointer-events: none;
  font-size: 20px;
  opacity: 0.65;
  color:#211b21
}

.harryb-link {
  pointer-events: auto;
}

.my-name {
  font-size: 55px;
  font-weight: normal;
  color: #211b21;
  pointer-events: none;
}

.my-name b {
  font-size: 75px;
}