.pic-of-me {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.92;
  position: absolute;
  pointer-events: none;
}

.about-me-card {
  display: inline;
  position: absolute !important;
  top: 40px;
  right: 3%;
  width: 40%;
  pointer-events: none;
  font-size: 20px;
  opacity: 0.65;
  color: #211b21;
  border-width: 0 !important;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  line-height: 1.43em;
}

.harryb-link {
  pointer-events: auto;
  color: #a244a2;
}

.harryb-link:hover {
  text-decoration: none;
  color: #6d2a6d;
}

.header {
  font-size: 35px;
  color: #211b21;
  pointer-events: none;
}

.navbar-about-me {
  right: 3%;
  bottom: 20px;
}
