.about-me-background {
  background: url(images/mee-main.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.87;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.my-name {
  margin-top: 4%;
  margin-left: 55%;
  font-size: 55px;
  font-weight: normal;
  color: #757575;
}

.my-name b {
  font-size: 75px;
}

.welcome-button {
  position: absolute;
  height: 52px;
  width: 173px;
  top: 45%;
  left: 45%;
  font-size: 100px;
  opacity: 0.9;
}
