.connect-pic {
  height: 100%;
  right: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.92;
  position: absolute;
  pointer-events: none;
}

.connect-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.connect-with-me-card {
  display: inline;
  position: absolute !important;
  top: 40px;
  left: 5%;
  width: 40%;
  pointer-events: none;
  font-size: 20px;
  opacity: 0.65;
  color: #211b21;
  border-width: 0 !important;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  line-height: 1.43em;
}

.header {
  font-size: 35px;
  color: #211b21;
  pointer-events: none;
}

.contact {
  margin: 10px;
}

.icon-div {
  display: inline;
  margin-right: 8px;
}

.email {
  pointer-events: auto;
  color: #a244a2;
  display: block;
  margin-bottom: 5px;
}

.email:hover {
  text-decoration: none;
  color: #6d2a6d;
}

.linkedinLink {
  pointer-events: auto;
  color: #a244a2;
}

.connect-text {
  display: block;
  margin-bottom: 25px;
}

.linkedinLink:hover {
  text-decoration: none;
  color: #6d2a6d;
}

.navbar-connect {
  left: 3%;
  bottom: 20px;
}

@media only screen and (max-device-width: 768px) {
  .connect-pic {
    right: 0;
    width: 185%;
    height: unset;
    bottom: 0;
  }

  .connect-with-me-card {
    width: 90%;
    height: 43%;
    left: 0;
    right: 0;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: auto;
    overflow: scroll;
  }

  .navbar-connect.navbar {
    font-size: 25px;
  }

  .navbar-connect.navbar .nav-item a {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px #000;
    opacity: 0.8;
  }
}
