.connect-pic {
  height: 100%;
  right: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.92;
  position: absolute;
  pointer-events: none;
}
.connect-with-me-card {
  display: inline;
  position: absolute;
  top: 40px;
  left: 5%;
  width: 40%;
  pointer-events: none;
  font-size: 20px;
  opacity: 0.65;
  color: #211b21;
  border-width: 0 !important;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  line-height: 1.43em;
}

.header {
  font-size: 35px;
  color: #211b21;
  pointer-events: none;
}

.contact {
  margin: 10px;
}

.icon-div {
  display: inline;
  margin-right: 8px;
}

.email {
  pointer-events: auto;
}

.email:hover {
  text-decoration: none;
}

.linkedinLink {
  pointer-events: auto;
}

.linkedinLink:hover {
  text-decoration: none;
}
