.welcome-button {
  position: absolute;
  height: 52px;
  width: 173px;
  top: 45%;
  left: 45%;
  font-size: 100px;
  opacity: 0.9;
  border-width: 0 !important;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.6);
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s;
}

.welcome-button:hover {
  background-color: #f1f1f1;
}