.projects-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.projects-text-container {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.projects-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #211b21;
  opacity: 0.65;
  font-weight: bold;
}

.project-title {
  color: #211b21;
  opacity: 0.7;
}

.project {
  width: 88%;
  height: 230px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #211b21;
  opacity: 0.9;
  border-width: 0 !important;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  line-height: 1.43em;
}

.project-text {
  font-size: 18px;
}

.project-links {
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 10px;
  bottom: 5%;
}

.project-link {
  color: #a244a2;
  pointer-events: auto;
}

.project-link:hover {
  text-decoration: none;
  color: #6d2a6d;
}

.navbar-projects {
  right: 3%;
  bottom: 20px;
}

@media only screen and (max-device-width: 768px) {

  .project {
    font-size: 12px;
    width: 95%;
    overflow: scroll;
    pointer-events: auto;
    height: 160px;
  }

  .project-title {
    font-size: 20px;
  }

  .project-links {
    position: relative;
    margin-top: 30px;
  }

  .navbar-projects.navbar {
    font-size: 25px;
  }

  .navbar-projects.navbar .nav-item a {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px #000;
    opacity: 0.8;
    display: inline;
  }

}