.projects-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.projects-text-container {
  position: absolute;
  top: 0;
}

.projects-header {
  text-align: center;
  margin: 20px;
  color: #211b21;
  opacity: 0.65;
}

.project-title {
  color: #211b21;
  opacity: 0.7;
}

.project {
  margin: 25px;
  color: #211b21;
  opacity: 0.9;
}

.project-text {
  font-size: 18px;
}

.microblog-github-link {
  margin-top: 15px;
}

.warbly-heroku-link {
  margin-top: 15px;
}

.jobly-github-link {
  margin-top: 15px;
}

.project-link {
  color: #a244a2;
}

.project-link:hover {
  text-decoration: none;
  color: #6d2a6d;
}
