.projects-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.projects-text-container {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.projects-header {
  text-align: center;
  margin: 20px;
  color: #211b21;
  opacity: 0.65;
}

.project-title {
  color: #211b21;
  opacity: 0.7;
}

.project {
  margin: 25px;
  color: #211b21;
  opacity: 0.9;
  border-width: 0 !important;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  line-height: 1.43em;
}

.project-text {
  font-size: 18px;
}

.microblog-github-link {
  margin-top: 15px;
  pointer-events: auto;
}

.warbly-heroku-link {
  margin-top: 15px;
  pointer-events: auto;
}

.jobly-github-link {
  pointer-events: auto;
  margin-top: 15px;
}

.project-link {
  color: #a244a2;
  pointer-events: auto;
}

.project-link:hover {
  text-decoration: none;
  color: #6d2a6d;
}
