.navbar {
  font-size: 35px;
  position: absolute !important;
}

.nav-item a {
  color: #211b21;
  opacity: 0.65;
  font-weight: bold;
  pointer-events: auto;
}

.nav-item a:hover {
  color: #6d2a6d;
}